.DS_Store
.bundle
.powder
.powenv
.sass-cache/
.idea/
.ssl/
config/overrides/*
config/overrides.env
db/*.sqlite3
audit/**/*
log/*.log
log/localeapp.yml
public/assets/*
public/stylesheets
public/javascripts
public/system
tmp/
!public/assets/manifest.yml
data_clone.dump
.tddium*
/coverage/
zeus.json
.ruby-gemset
db/.pgpass
