$custom-color: rgb(217,185,35)

.top-bar-section li:not(.has-form) a:not(.button):hover
  background: $custom-color
  color: white

.top-bar-section li a
  text-shadow: 0 -.5px rgba(0, 0, 0, .3)

.top-bar-section li a:not(.button)
  color: black
  font-size: 24px

.top-bar.expanded .toggle-topbar a,.top-bar .toggle-topbar.menu-icon a
  color: black
  font-size: 24px

#page_container
  margin-top: 50px
  position: relative

.large-12.columns
  margin: 0
  padding: 0
  text-align: center

.content
  position: relative
  height: 60%

.top-bar
  //overflow: overlay !important
  border-bottom: 2px solid $custom-color

.top-bar-section .divider
  border-bottom: 0px solid transparent !important
  border-top: 1px solid $custom-color !important

.top-bar-section ul.left
  float: none !important


#background
  z-index: -99999
  top: 0
  background-repeat: no-repeat
  background-position: center

#title
  margin-top: -20px

#background,#title
  left: 0
  right: 0
  position: absolute

#page
  position: absolute
  left: 0
  right: 0



.orbit-caption#empresa
  opacity: .8
  height: 17%

#bar_logo
  padding-right: 12%

#logo
  width: 80px
  height: 80px
  padding-top: 20px
  margin-left: 5px
  margin-right: 5px

#logo2
  width: 120px
  height: 77px

#slides
  margin-left: auto
  margin-right: auto
  width: 70%
  height: 80%
  opacity: .85
  right: 0
  left: 0

#content
  margin-left: 20px
  margin-right: 20px
  h2.text
    font-size: 35px
  h1.text
    font-size: 32px
  p.text
    font-size: 30px
  a.text
    font-size: 30px

#slide_text
  color: $custom-color
  font-weight: bold
  font-size: 30px

ol.orbit-bullets
  display: none

#footer
  clear: both
  z-index: 10
  text-align: center
  font-size: 14px



#photo
  z-index: -1
  opacity: 0.85

#spacer
  height: 10px

.top-bar
  .icon
    display: inline
    margin-left: 5px
  li.disabled
    a
      color: white
  .dropdown li a
    background: black
    height: 40px
    padding: 10px 0
    margin-top: auto
    text-indent: 15px

  ul li:hover > a
    color: $custom-color
  .name h1 a
    width: 100%
    padding: 0 5px

.top-bar-section > ul > .divider
  //goldbar: border-right: solid 1px $custom-color
  //goldbar: border-left: solid 1px $custom-color
  border-right: solid 0px transparent !important
  border-left: solid 1px $custom-color !important


.sub-nav dd.active a
  background: #5180A2

.number
  float: left
  margin-right: 10px

.hidden
  display: none

dl.soldeoro
  width: 175px
  display: block
  text-align: center
  background-color: rgb(23, 49, 68)

  dd
    font-size: 40px
    line-height: 1.4em
    color: white
    font-weight: bold
    margin: 0px 10px
    padding: 0px
    text-shadow: none
    .icon
      font-weight: normal
      font-size: 35px
      display: inline
  dt
    font-size: 11px
    height: 33px
    line-height: 33px
    color: white
    text-transform: uppercase
    font-weight: normal
    margin: 5px 0
    padding: 0px
    border-top-width: 1px
    border-top-style: solid
    border-top-color: white
    background-color: rgb(81, 128, 162)
    text-shadow: none

table.data
  width: 100%
  th
    width: 0.0em
  td
    width: 0.625em
  .bar
    width: 400px

.contact_us
  font-size: 20px

@media only screen and (max-width: 768px)
  .business_title
    font-size: 25px

  .contact_us
    font-size: 18px

  .desktop-only
    display: none

  table.data
    font-size: 85%
    .bar
      display: none

  dl.soldeoro
    width: 130px
    dd
      font-size: 25px
      .icon
        font-size: 20px
    dt
      font-size: 9px
      height: 26px
      line-height: 26px

.business_title
  font-size: 40px
  margin-top: -60px
  margin-bottom: -20px

//iphones
@media only screen and  (max-device-width : 480px)
  .business_title
    font-size: 20px
  .contact_us
    font-size: 14px
  .orbit-caption#empresa
    opacity: .8
    height: 20%

  #bar_logo
    padding-right: 19%
  #box
    font-size: 10px
  #background
    height: 390px
  #image
    height: 350px
    padding-left: 0%
  #title
    h1
      font-size: 16px
  #footer
    font-size: 9px
  #spacer
    height: 0px
  #content
    h2.text
      font-size: 20px
    h1.text
      font-size: 18px
    p.text
      font-size: 14px
    a.text
      font-size: 14px
  #slides
    width: 80%
    height: 80%

  #slide_text
    p.text
      font-size: 14px
      font-weight: bold
      font-color: $custom-color
